* {
  font-family: "Ropa Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#card1 {
  background-image: url(/images/produtos/beef-g66eb2a540_1920.jpg);
  background-size: cover;
}
#card1 h2::before {
  content: "Carne Grelhada";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card2 {
  background-image: url(/images/produtos/breakfast-ga9b591474_1920.jpg);
  background-size: cover;
}
#card2 h2::before {
  content: "Bacon com Ovos";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card3 {
  background-image: url(/images/produtos/noodles-7390775_1920.jpg);
  background-size: cover;
}
#card3 h2::before {
  content: "Penne a Bolonhesa";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card4 {
  background-image: url(/images/produtos/potato-soup-2152265_1920.jpg);
  background-size: cover;
}
#card4 h2::before {
  content: "Sopa de Batatas";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card5 {
  background-image: url(/images/produtos/rice-noodles-855077_1920.jpg);
  background-size: cover;
}
#card5 h2::before {
  content: "Sopa de Arroz";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card6 {
  background-image: url(/images/produtos/salad-gf22844a91_1920.jpg);
  background-size: cover;
}
#card6 h2::before {
  content: "Salada Mix";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card7 {
  background-image: url(/images/produtos/spare-ribs-7410906_1920.jpg);
  background-size: cover;
}
#card7 h2::before {
  content: "Costela Ribs";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card8 {
  background-image: url(/images/produtos/sushi-354628_1920.jpg);
  background-size: cover;
}
#card8 h2::before {
  content: "Sushi";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

#card9 {
  background-image: url(/images/produtos/taco-4709325_1920.jpg);
  background-size: cover;
}
#card9 h2::before {
  content: "taco";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 1rem 1.5rem;
}

.socialMedia_icones, .navbar_nav, .footer_navbar_nav, .footer_socialMedia_icones {
  list-style: none;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1.5rem;
}

.p-1 {
  padding: 1rem;
}

.text-white {
  color: #fff;
}

.logo_slogan {
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
}

.servicos {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicos_card {
  width: 31%;
  margin-bottom: 1rem;
  height: 400px;
  box-shadow: 8px 8px 10px #999;
}

.header {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0 !important;
  background-image: url("/images/backgrounds/background_home_2.jpg");
  background-size: 100%;
  background-position: center;
  background-position-y: -300px;
}

.header-heightMiddle {
  height: 300px;
  border: 1px solid #000;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.navbar_link {
  color: #f1f806;
  text-transform: uppercase;
}
.navbar_link:hover {
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(152, 88, 64, 0.5);
}
.footer_navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(1, 1, 8, 0.6);
}
.footer_navbar_link {
  text-decoration: none;
  color: #fff;
}
.footer_navbar_nav {
  flex-flow: column;
}
.footer_socialMedia_icones {
  flex-flow: column;
}
.footer_socialMedia_item {
  margin-bottom: 1rem;
}

@media (max-width: 1170px) {
  .header,
.navbar_nav,
.servicos,
.servicos_card {
    flex-flow: column;
    min-width: 100%;
  }
  .navbar {
    z-index: 1;
  }
  .socialMedia {
    z-index: 2;
  }
  .socialMedia_icones {
    flex-flow: column;
  }
  .socialMedia_item {
    margin: 1rem;
  }
  .footer {
    flex-flow: column;
    min-width: 100%;
  }
  .footer_navbar {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .footer_socialMedia_icones {
    flex-flow: row;
    margin-bottom: 1rem;
  }
  .footer .logo_slogan, .footer .contato_info {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
