// Variáveis SASS
$fonte:'Ropa Sans';
$bgHome:'/images/backgrounds/background_home_2.jpg';
$bgColor:rgba(0,0,0,0.4);
$link:#f1f806;
$linkHover:#fff;
$m1:1 rem;
$mx1:0 1.5rem;
$p1:1rem;
$px1:0 1.5rem;