// Parei de acompanhar no tempo 9:49 da aula 16, vídeo 14.
@use 'variaveis' as v;
@use 'mixins' as mx;
@use 'extends';

.text-white {
    color: v.$linkHover;
}

.m-1 {
    margin: v.$m1;
}

.mx-1 {
    margin: v.$mx1;
}

.p-1 {
    padding: v.$p1;
}

.logo_slogan {
    font-size: 3rem;
    text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
}

.socialMedia_icones {
    @extend %list-none;
}

.header {
    @include mx.box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 0 !important;

    background-image: url(mx.bgImage(v.$bgHome_2));
    background-size: 100%;
    background-position: center;
    background-position-y: -300px;
}

.header-heightMiddle {
    height: 300px;
    border: 1px solid #000;
}

.navbar {
    width: 100%;
    background-color: v.$bgColor;

    &_nav {
        @extend %list-none;
    }

    &_link {
        color: v.$link;
        text-transform: uppercase;

        &:hover {
            color: v.$linkHover;
        }
    }
}

.container {
    @include mx.flex-center;
}

@media (max-width: 1170px) {
    .header, .navbar_nav {
        flex-flow: column;
        min-width: 100%;
    }
    .navbar {
        z-index: 1;
    }
    .socialMedia {
        z-index: 2;
    
        &_icones {
            flex-flow: column;
        }
        &_item {
            margin: v.$m1;
        }
    }
}